//
@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    width: 300px;
    margin-top: 2rem;
}

.box{
    width: 600px;
    padding: 1rem;
    margin: auto;
    background-color: lightblue;
    border-radius: 10%;
}

.main_box{
    width: 100%;
}